.contato {
  max-width: 500px;
  margin: 1rem auto;
  padding: 2rem;
  background-color:   #ffa51486;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.contato h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  resize: none;
}

button[type="submit"] {
  background-color: #650F02;
  color: white;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button[type="submit"]:hover {
  background-color:   #650f02aa;
}
/* stilo dofeedback */
.mensagem-feedback {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
  color: red
}

.mensagem-feedback.sucesso {
  color: green;
}
